 <div style="width: 85%; margin: auto;">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" style="color: rgb(146, 144, 144);" href="#">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

<header class="masthead">
  <div>
    <img  style="width: 100%; margin: auto; " src="https://raw.githubusercontent.com/CamilaBur/exercise-collaborative-html-website/Navbar/website/assets/img/bg.jpg" alt="">
  </div>
  <div  class="container h-100">
      <div class="row h-100 align-items-center">
          <div class="col-12 text-center">
              <h1 style="margin-top: -40%;" class="display-1 5rem bg-white mb-4"><b>One Page Wonder</h1>
              <h2 class="display-5 3rem bg-white"><b>Will Knock Your Socks Off</b></h2>
          </div>
      </div>
  </div>
</header>
</div>



