<div style="width: 90%; margin: auto; padding-top: 10%;">
    <div class="w-75 p-3 m-auto">
        <h1>Portfolio</h1>
        <p style="font-size:15px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos officia, magni obcaecati asperiores iste natus blanditiis sapiente impedit beatae, illum hic et quas voluptate est ducimus aliquid tempore quia quasi.</p>
    </div>

<div class="card-group w-75 p-3 m-auto">
    <div class="card m-2 border-0">
        <img src="../website/assets/img/big-project-image.png"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-title" style="color: blue;"><b>Proyect Name</b></h4>
            <p class="card-text" style="font-size: 14px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quos, quidem, pariatur doloremque, nulla corrupti magnam suscipit beatae in ullam magni ipsum porro deleniti officia.</p>
        </div>
    </div>
    <div class="card m-2 border-0">
        <img src="../website/assets/img/big-project-image.png" class="card-img-top"
            alt="...">
        <div class="card-body">
            <h4 class="card-title" style="color: blue;"><b>Proyect Name</b></h4>
            <p class="card-text" style="font-size: 14px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quos, quidem, pariatur doloremque, nulla corrupti magnam suscipit beatae in ullam magni ipsum porro deleniti officia</p>
        </div>
    </div>
    <div class="card m-2 border-0">
        <img src="../website/assets/img/big-project-image.png"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h4 class="card-title" style="color: blue;"><b>Proyect Name</b></h4>
            <p class="card-text" style="font-size: 14px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quos, quidem, pariatur doloremque, nulla corrupti magnam suscipit beatae in ullam magni ipsum porro deleniti officia</p>
        </div>
    </div>
</div>

</div>